<ul class="nav nav-list">
  {{#each list}}
    <li>
        <a>
            <span class="rating">
                <input type="radio" class="favorite-search {{#if favorite}}favorited{{/if}}">
            </span>
            <h1>{{name}}</h1>
        </a>
        {{#if canDelete}}
          <button class="btn btn-mini btn-danger">{{i18n 'search.savedsearches.button.delete'}}</button>
        {{/if}}
    </li>
  {{else}}
  <li class="empty">{{i18n 'search.savedsearches.none'}}</li>
  {{/each}}
</ul>