{
  "plugins": [
    "transform-react-jsx",
    "transform-react-display-name",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "presets": [
    ["env", {
      "targets": {
        "chrome": "60",
        "firefox": "48",
        "ie": "11"
      },
      "modules": false
    }],
    "react"
  ],
  "env": {
    "test": {
      "presets": ["es2015", "react"],
      "plugins": [
        "add-module-exports",
        "transform-amd-to-commonjs",
        "transform-es2015-modules-commonjs",
      ]
    }
  }
}
